html {
  --primary-background: #f2c343;
  --secondary-background: #55c2eb;
  --accent-background: #f16881;
  --text: rgba(0,0,0,0.88);
  /* font sizes */
  --title-size: 8rem;
  --heading-size: 5rem;
  --regular-size: 3rem;
  /* spacing */
  --slide-padding: 4rem;
  --title-padding: 1rem;
  --item-margin: 1rem;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  color: var(--text);
  padding: var(--slide-padding);
  font-size: var(--regular-size);
}

.slide-content li{
  margin-bottom: var(--item-margin);
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  

  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static-primary {
  background: var(--primary-background);
}

.static-secondary {
  background: var(--secondary-background);
}

.bg-iejoke::after {
  background-image: url('assets/ie_joke.jpg');
}

.bg-techn::after {
  background-image: url('assets/home_1.jpeg');
}

.bg-components::after {
  background-image: url('assets/ui_elements.png');
}

.bg-firstweb::after {
  background-image: url('assets/firstbrowser.gif');
}

.bg-browserhist::after {
  background-image: url('assets/browsermapcomputerhistory.jpg');
}

.bg-css::after {
  background-image: url('assets/cssisawesome.jpg');
}

.bg-wired::after {
  background-image: url('assets/css-wired.gif');
}

.bg-devices::after {
  background-image: url('assets/devices.jpg');
}

.bg-webapp::after {
  background-image: url('assets/web_app_website.png');
}

.bg-md::after {
  background-image: url('assets/md.png');
}

.bg-componentlib::after {
  background-image: url('assets/components.png');
}

.bg-noidea::after {
  background-image: url('assets/noidea.jpg');
}

.bg-ninja::after {
  background-image: url('assets/code-ninja.jpg');
}

/* Typography --------------- */
.title {
  font-size: var(--title-size);
}

.heading {
  font-size: var(--heading-size);
  font-family: 'Alegreya Sans';
}

.title-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: var(--title-padding);
}